@font-face {
  font-family: 'Helvetica';
  src: url('@/assets/fonts/Helvetica LT Pro Roman.ttf') format('ttf');
  font-weight: normal;
}
@font-face {
  font-family: 'Helvetica';
  src: url('@/assets/fonts/Helvetica LT Pro Bold.ttf') format('ttf');
  font-weight: bold;
}